<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>start</key>
		<string>06:00</string>
		<key>end</key>
		<string>07:00</string>
	</dict>
	<dict>
		<key>start</key>
		<string>07:30</string>
		<key>end</key>
		<string>08:30</string>
	</dict>
	<dict>
		<key>start</key>
		<string>09:00</string>
		<key>end</key>
		<string>10:00</string>
	</dict>
	<dict>
		<key>start</key>
		<string>10:30</string>
		<key>end</key>
		<string>11:30</string>
	</dict>
	<dict>
		<key>start</key>
		<string>12:00</string>
		<key>end</key>
		<string>13:00</string>
	</dict>
	<dict>
		<key>start</key>
		<string>13:30</string>
		<key>end</key>
		<string>14:30</string>
	</dict>
	<dict>
		<key>start</key>
		<string>15:00</string>
		<key>end</key>
		<string>16:00</string>
	</dict>
	<dict>
		<key>start</key>
		<string>16:30</string>
		<key>end</key>
		<string>17:30</string>
	</dict>
	<dict>
		<key>start</key>
		<string>18:00</string>
		<key>end</key>
		<string>19:00</string>
	</dict>
	<dict>
		<key>start</key>
		<string>19:30</string>
		<key>end</key>
		<string>20:30</string>
	</dict>
	<dict>
		<key>start</key>
		<string>21:00</string>
		<key>end</key>
		<string>22:00</string>
	</dict>
</array>
</plist>
